html, body, .container-fluid, .row
{
    color: white;
    /*background-color: black;*/
    height: 100%;
}
body
{
    margin: 0.5vh;
    /*background: black url(http://i.imgur.com/cGpKK.jpg) no-repeat center center fixed;*/
    background: black no-repeat center center fixed;
    background-image: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(http://i.imgur.com/cGpKK.jpg);
}

/*background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(image.jpg);*/

h1
{
    text-align: center;
    font-size: 8vh;
    margin: 0.5vh 0 0 0;
}
h3
{
    font-size: 2vw;
}

#player1 { float: left; }
#player2 { float: right; }
#player1, #player2
{
    /*padding: 0;*/
}

#board
{
    position: relative;
    text-align: center;
    margin: 0 auto;
    
    height: 88.2%;
    max-height: 800px;
    
    z-index: 1;
}
.row { margin: 0 auto; }

.quark-container
{
    width: 12.5%;
    height: 12.5%;
    position: absolute;
    
    z-index: 5;
    /*background-image: url('../img/ring_blue.png');
    background-position: center;
    background-size: 100%;*/
}
.x0 { left: 0; }
.x1 { left: 12.5%; }
.x2 { left: 25%; }
.x3 { left: 37.5%; }
.x4 { left: 50%; }
.x5 { left: 62.5%; }
.x6 { left: 75%; }
.x7 { left: 87.5%; }
.y0 { top:  0; }
.y1 { top: 12.5%; }
.y2 { top: 25%; }
.y3 { top: 37.5%; }
.y4 { top: 50%; }
.y5 { top: 62.5%; }
.y6 { top: 75%; }
.y7 { top: 87.5%; }

@keyframes rotate-ring-red
{
    from { transform: rotate(360deg); }
    to   { transform: rotate(  0deg); }
}
@keyframes rotate-ring-blue
{
    from { transform: rotate(  0deg); }
    to   { transform: rotate(360deg); }
}
/* hack using `before` pseudoclass to animate a background image */
.quark-container:before, .arrow-container:before
{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background-position: center center;
    background-repeat: no-repeat;
    animation-iteration-count:  infinite;
    animation-timing-function:  linear;
}
.quark-container:before
{
    background-size: 96%;
    animation-duration: 1s;
}

.quark-container.ring-blue:before
{
    background-image: url('../img/ring_blue.png');
    animation-name: rotate-ring-blue;
}
.quark-container.ring-red:before
{
    background-image: url('../img/ring_red.png');
    animation-name: rotate-ring-red;
}

.arrow-container
{
    width: 64%;
    height: 64%;
    position: absolute;
    top: 18%;
    left: 18%;
    z-index: 10;
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.arrow-left .arrow-container
{
    background-image: url('../img/arrow-left.png');
}
.arrow-right .arrow-container
{
    background-image: url('../img/arrow-right.png');
}
.arrow-down .arrow-container
{
    background-image: url('../img/arrow-down.png');
}
.arrow-up .arrow-container
{
    background-image: url('../img/arrow-up.png');
}

@keyframes arrow-glow
{
    0%   { opacity: 1; }
    50%  { opacity: 0.35; }
    100% { opacity: 1; }
}
.arrow-container:before
{
    background-size: 100%;
    animation-name:     arrow-glow;
    animation-duration: 0.5s;
}
.arrow-left .arrow-container:before
{
    background-image: url('../img/arrow-left.png');
}
.arrow-right .arrow-container:before
{
    background-image: url('../img/arrow-right.png');
}
.arrow-down .arrow-container:before
{
    background-image: url('../img/arrow-down.png');
}
.arrow-up .arrow-container:before
{
    background-image: url('../img/arrow-up.png');
}

@media (max-height: 363px){

    body
    {
        margin: 0;
    }
    h1
    {
        display: none;
    }
    #board
    {
        height: 100%;
    }
}
