html, body, #game
{
    color: white;
    /*background-color: black;*/
    height: 100%;
}
body
{
    margin: 0.5vh;
    background-color: black;
    
    /*background: black no-repeat center center fixed;
    background-image: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(http://i.imgur.com/cGpKK.jpg);*/
}

#title-container h1
{
    text-align: center;
    font-size: 8vh;
    font-family: monospace;
    font-variant: small-caps;
    margin: 0.5vh 0 0 0;
}

#game
{
    width: 100%;
    max-width: 1090px;
    max-height: 800px;
    margin: 0 auto;
}

.player-name
{
    margin-top: 26.086956%;
}
.player
{
    width: 13.302752%;
    max-width: 145px;
    height: 50%;
    max-height: 400px;
    padding: 0 1.3761468%;
}

#player-1
{
    float: left;
}
#player-2
{
    float: right;
}

.player h2
{
    text-align: center;
    width: 100%;
}
.player h3
{
    margin-left: 3.478261%;
}

.score
{
    margin-top: 43.478261%;
}
.score-chain
{
    margin-top: 104.347826%
}
.score-chain-multiplier
{
    /* I'll think of something */
}

@keyframes energy-background
{
    0%   { background-position:     0%   0%; }
    25%  { background-position:   120% 240%; }
    50%  { background-position:     0% 480%; }
    75%  { background-position:   -60% 240%; }
    100% { background-position:     0%   0%; }
}
.player.my-turn
{
    background-image: url('../img/turn-bk.jpg');
    background-position: top left;
    background-size: auto 180%;
    box-shadow: inset 0 0 22px 22px black;
    animation: energy-background 1s linear infinite;
}
.player.my-turn .player-name
{
    text-decoration: underline;
}

#player-1.my-turn
{
    color: LightSkyBlue;
}
#player-2.my-turn
{
    color: LightPink;
}

#board
{
    position: relative;
    text-align: center;
    margin: 0 auto;
    
    /*height: 88.2%;*/
    width: 73.394495%;
    max-width: 800px;
    height: 100%;
    max-height: 800px;
    
    z-index: 1;
}

/* Positioning and sizing for all elements that will directly align to the game grid */
.grid-element
{
    width: 12.5%;
    height: 12.5%;
    position: absolute;
}
.grid-element.x0 { left: 0; }
.grid-element.x1 { left: 12.5%; }
.grid-element.x2 { left: 25%; }
.grid-element.x3 { left: 37.5%; }
.grid-element.x4 { left: 50%; }
.grid-element.x5 { left: 62.5%; }
.grid-element.x6 { left: 75%; }
.grid-element.x7 { left: 87.5%; }
.grid-element.y0 { top:  0; }
.grid-element.y1 { top: 12.5%; }
.grid-element.y2 { top: 25%; }
.grid-element.y3 { top: 37.5%; }
.grid-element.y4 { top: 50%; }
.grid-element.y5 { top: 62.5%; }
.grid-element.y6 { top: 75%; }
.grid-element.y7 { top: 87.5%; }

.quark-container /* grid-level element */
{
    z-index: 5;
}
.quark-container::before, .arrow-container::before
{   /* use `before` pseudoelement to rotate background image without rotating div itself */
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background-position: center center;
    background-repeat:   no-repeat;
    animation-iteration-count:  infinite;
    animation-timing-function:  linear;
}
.quark-container::before
{
    background-size: 96%;
    animation-duration: 1s;
}
@keyframes rotate-ring-blue
{
    from { transform: rotate(  0deg); }
    to   { transform: rotate(360deg); }
}
.quark-container.ring-blue::before
{
    background-image: url('../img/ring_blue.png');
    animation-name: rotate-ring-blue;
}
@keyframes rotate-ring-red
{
    from { transform: rotate(360deg); }
    to   { transform: rotate(  0deg); }
}
.quark-container.ring-red::before
{
    background-image: url('../img/ring_red.png');
    animation-name: rotate-ring-red;
}

#board.taking-input .quark-container:hover, #board.taking-input .quark-container.selected
{
    border: 3px solid;
    border-radius: 10%;
    width:  calc(12.5% + 6px);
    height: calc(12.5% + 6px);
    margin-left: -3px;
    margin-top: -3px;
}
#board.player-1-turn.taking-input .quark-container:hover
{
    border-color:     rgba(0, 0, 255, 0.3);
    background-color: rgba(0, 0, 255, 0.3);
}
#board.player-1-turn.taking-input .quark-container.selected
{
    border-color: blue;
}
#board.player-2-turn.taking-input .quark-container:hover
{
    border-color:     rgba(255, 0, 0, 0.3);
    background-color: rgba(255, 0, 0, 0.25);
}
#board.player-2-turn.taking-input .quark-container.selected
{
    border-color: red;
}

.grav-container /* grid-level element */
{
    
}

.arrow-container
{
    width: 64%;
    height: 64%;
    position: absolute;
    top: 18%;
    left: 18%;
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.quark-container .arrow-container
{
    z-index: 10;
}
.grav-container .arrow-container
{
    z-index: 15;
}
.arrow-left .arrow-container
{
    background-image: url('../img/arrow-left.png');
}
.arrow-right .arrow-container
{
    background-image: url('../img/arrow-right.png');
}
.arrow-down .arrow-container
{
    background-image: url('../img/arrow-down.png');
}
.arrow-up .arrow-container
{
    background-image: url('../img/arrow-up.png');
}
@keyframes quark-arrow-flicker
{
    0%   { opacity: 1; }
    50%  { opacity: 0.25; }
    100% { opacity: 1; }
}
.quark-container .arrow-container::before, /* use `before` pseudoelement to layer a flickering copy of the arrow graphic for an animated glowing effect  */
.grav-container .arrow-container
{   
    background-size:    100%;
    animation-duration: 0.5s;
}
.quark-container .arrow-container::before
{
    animation-name:     quark-arrow-flicker;
}
.arrow-left .arrow-container::before
{
    background-image: url('../img/arrow-left.png');
}
.arrow-right .arrow-container::before
{
    background-image: url('../img/arrow-right.png');
}
.arrow-down .arrow-container::before
{
    background-image: url('../img/arrow-down.png');
}
.arrow-up .arrow-container::before
{
    background-image: url('../img/arrow-up.png');
}
@keyframes grav-arrow-flicker
{
    0%   { opacity: 0.5; }
    50%  { opacity: 0.1; }
    100% { opacity: 0.5; }
}
.grav-container .arrow-container
{
    animation-name:     grav-arrow-flicker;
}

/*@media (max-height: 363px){

    body
    {
        margin: 0;
    }
    h1
    {
        display: none;
    }
    #board
    {
        height: 100%;
    }
}*/